.col {
	float:left; 
	position:relative;
}

// [class*='grid-'] {
//   padding-right: 0px;
// }
// [class*='grid-']:last-of-type {
//   padding-right: 0;
// }

.gutters > .col {
	margin-right:2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

// 4 COLUMN GRID
.grid-1   { width:100%; }
.grid-1-4 { float:left; width:25%; }
.grid-2-4 { float:left; width:50%; }
.grid-3-4 { float:left; width:75%; }

// 10 COLUMN GRID
.grid-1-10  { width: 10%; }
.grid-2-10  { width: 20%; }
.grid-3-10  { width: 30%; }
.grid-4-10  { width: 40%; }
.grid-5-10  { width: 50%; }
.grid-6-10  { width: 60%; }
.grid-7-10  { width: 70%; }
.grid-8-10  { width: 80%; }
.grid-9-10  { width: 90%; }
.grid-10-10 { width: 100%; }

// 12 COLUMN GRID
.grid-1-12  { width: 8.33333333333%; }
.grid-2-12  { width: 16.6666666667%; }
.grid-3-12  { width: 25%; }
.grid-4-12  { width: 33.3333333333%; }
.grid-5-12  { width: 41.6666666667%; }
.grid-6-12  { width: 50%; }
.grid-7-12  { width: 58.3333333333%; }
.grid-8-12  { width: 66.6666666667%; }
.grid-9-12  { width: 75%; }
.grid-10-12 { width: 83.3333333333%; }
.grid-11-12 { width: 91.6666666667%; }
.grid-12-12 { width: 100%; }


//12 COLUMN WITH GUTTERS
.gutters .grid-1-12 { width: 6.5%; }
.gutters .grid-2-12 { width: 15.0%; }
.gutters .grid-3-12 { width: 23.5%; }
.gutters .grid-4-12 { width: 32.0%; }
.gutters .grid-5-12 { width: 40.5%; }
.gutters .grid-6-12 { width: 49.0%; }
.gutters .grid-7-12 { width: 57.5%; }
.gutters .grid-8-12 { width: 66.0%; }
.gutters .grid-9-12 { width: 74.5%; }
.gutters .grid-1-12 { width: 83.0%; }
.gutters .grid-1-12 { width: 91.5%; }
.gutters .grid-1-12 { width: 100%; }